@charset "utf-8";


/* -- body -------------------------------------------------------------------------------------------- */

body {
	background : #f2f2f2;
	padding : 50px 0;
}




/* -- a.link-scroll-* -------------------------------------------------------------------------------------------- */

a.link-scroll {
	display : block;
	width : 1000px;
	margin : 20px auto;
}




/* -- div#link-scroll-* -------------------------------------------------------------------------------------------- */

#link-scroll-1,
#link-scroll-2,
#link-scroll-3,
#link-scroll-4,
#link-scroll-5,
#link-scroll-6,
#link-scroll-7,
#link-scroll-8 {
	width : 960px;
	margin : 50px auto;
	padding : 25px 20px;
	background : #ffffff;
}

h2 {
	font-weight : bold;
	font-size : 135%;
}

p {
	margin-top : 25px;
}

img {
	display : block;
	margin-bottom : 15px;
}








